html, body{
    margin: 0px;
    justify-content: center;
    height: 100vh;
    align-items: center;
    display: flex;
    background-color: gainsboro;
}
.block{
    background-color: wheat;
    border: 2px dashed black;
    border-radius: 18px;
    height: 400px;
    width: 315px;
    box-shadow: 6px 0px 12px grey ;
}
.text{
    margin: 10px;
    padding: 20px;
}
h2{
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 0px;
    padding: 5px;
    font-family: cursive;
}
.list{
    margin-top: 20px;
    letter-spacing: 0.8px;
    padding: 20px;
}
li{
    padding: 20px;
    font-family: cursive;
}
p{
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    
}